<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DjValeting.WebUI</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <!-- Bootstrap CSS CDN -->
    <link href="~/shared/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- ICONS -->
    <link rel="stylesheet" type="text/css" href="~/assets/icons/fontawesome/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="~/assets/icons/linecons/linecons.css">
    <link rel="stylesheet" type="text/css" href="~/assets/icons/spinnericon/spinnericon.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
    <link rel="stylesheet" type="text/css" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/DjValeting.WebUI.styles.css" asp-append-version="true" />
    <!--Data table-->
    <link href="~/shared/datatable/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/shared/datatable/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/shared/datatable/css/select.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/shared/datatable/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/shared/datatable/css/scroller.dataTables.min.css" rel="stylesheet" />

    <!--Toastr-->
    <link href="~/shared/toastr/toastr.min.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", false)
    <!-- JS Core -->
    <script type="text/javascript" src="~/assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="~/assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="~/assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="~/assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="~/assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript" src="~/assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="~/assets/js-core/jquery-cookie.js"></script>


    <!-- Font Awesome JS -->
    <script defer src="~/shared/font-awesome/js/solid.js"></script>
    <script defer src="~/shared/font-awesome/js/fontawesome.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DjValeting.WebUI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div id="bildirish" class="account-wrap header-account">
                    <div class="account-item clearfix js-item-menu">
                        
                        <div class="content">
                            <a class="js-acc-btn" href="#"><label class="user-fullname">Fuad Alizada</label></a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            
                            <div class="account-dropdown__body">
                               
                                <div class="account-dropdown__item">
                                    <a asp-controller="Account" asp-action="LogOut">
                                        <i class="fas fa-power-off"></i> Log Out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DjValeting.WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script type="text/javascript" src="~/assets/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/assets/widgets/superclick/superclick.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/shared/moment.js/moment.min.js"></script>

    <!-- Toastr -->
    <script src="~/shared/toastr/toastr.min.js"></script>
     <script src="~/customScripts/layout.js?v=56"></script>
    <!-- Data table -->
    <script src="~/shared/datatable/js/datatableNewestVersion/jquery.dataTables.min.js"></script>
    <script src="~/shared/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="~/shared/datatable/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/shared/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/shared/datatable/js/dataTables.select.min.js"></script>
    <script src="~/shared/datatable/js/dataTables.fixedColumns.min.js"></script>
    <script src="~/shared/datatable/js/dataTables.scroller.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
